
.DS_Store
.project
.settings/org.eclipse.m2e.core.prefs
gp-gae-app/.classpath
gp-gae-app/.settings/org.eclipse.wst.validation.prefs
gp-gae-app/.settings/org.eclipse.wst.jsdt.ui.superType.name
gp-gae-app/.settings/org.eclipse.wst.jsdt.ui.superType.container
gp-gae-app/.settings/org.eclipse.wst.common.project.facet.core.xml
gp-gae-app/.settings/org.eclipse.wst.common.component
gp-gae-app/.settings/org.eclipse.m2e.wtp.prefs
gp-gae-app/.settings/org.eclipse.m2e.core.prefs
gp-gae-app/.settings/org.eclipse.jdt.core.prefs
gp-gae-app/.settings/org.eclipse.core.resources.prefs
gp-gae-app/.settings/com.google.cloud.tools.eclipse.appengine.deploy.prefs
gp-gae-app/.settings/.jsdtscope
gp-gae-app/src/main/webapp/META-INF/MANIFEST.MF
gp-gae-dao/.classpath
gp-gae-dao/.settings/org.eclipse.jdt.core.prefs
gp-gae-dao/.settings/org.eclipse.m2e.core.prefs
gp-gae-dao/.settings/org.eclipse.wst.common.component
gp-gae-dao/.settings/org.eclipse.wst.common.project.facet.core.xml
gp-gae-dao/.settings/org.eclipse.wst.validation.prefs
spring-racing/.classpath
spring-racing/.settings/org.eclipse.core.resources.prefs
spring-racing/.settings/org.eclipse.jdt.core.prefs
spring-racing/.settings/org.eclipse.m2e.core.prefs
spring-racing/.settings/org.eclipse.wst.common.component
spring-racing/.settings/org.eclipse.wst.common.project.facet.core.xml
spring-racing/.settings/org.eclipse.wst.validation.prefs
