<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC "-//Oracle Corporation//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

    <filter>
	  <filter-name>ObjectifyFilter</filter-name>
	  <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>ObjectifyFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
	  <listener-class>com.example.guestbook.OfyHelper</listener-class>
	</listener>
	<servlet>
	  <servlet-name>sign</servlet-name>
	  <servlet-class>com.example.guestbook.SignGuestbookServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>race-results-import</servlet-name>
	  <servlet-class>com.goodpunts.servlet.ImportRaceResultsServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>import-races</servlet-name>
	  <servlet-class>com.goodpunts.servlet.ImportUpcomingRacesServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>import-histories</servlet-name>
	  <servlet-class>com.goodpunts.servlet.ImportRunnerHistoriesServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>histories-export</servlet-name>
	  <servlet-class>com.goodpunts.servlet.ExportRunnerHistoriesServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>import-queue</servlet-name>
	  <servlet-class>com.goodpunts.servlet.ImportHistoryQueueServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>punts-generate</servlet-name>
	  <servlet-class>com.goodpunts.servlet.GeneratePuntsServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>probabilities-generate</servlet-name>
	  <servlet-class>com.goodpunts.servlet.GenerateProbabilitiesServlet</servlet-class>
	</servlet>
		<servlet>
	  <servlet-name>probabilities-queue</servlet-name>
	  <servlet-class>com.goodpunts.servlet.GenerateProbabilitiesQueueServlet</servlet-class>
	</servlet>
				
	<servlet-mapping>
	  <servlet-name>sign</servlet-name>
	  <url-pattern>/sign</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>import-races</servlet-name>
	  <url-pattern>/import/races</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>import-histories</servlet-name>
	  <url-pattern>/import/histories</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>histories-export</servlet-name>
	  <url-pattern>/histories/export</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>race-results-import</servlet-name>
	  <url-pattern>race-results/import</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>import-queue</servlet-name>
	  <url-pattern>/import/queue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>punts-generate</servlet-name>
	  <url-pattern>/punts/generate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>probabilities-generate</servlet-name>
	  <url-pattern>/probabilities/generate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>probabilities-queue</servlet-name>
	  <url-pattern>/probabilities/queue</url-pattern>
	</servlet-mapping>	
				
	<welcome-file-list>
	    <welcome-file>punts.jsp</welcome-file>
	</welcome-file-list>
<!--     <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list> -->
</web-app>
